<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ options.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <meta name="theme-color" content="#16161d">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href='https://cdn.jsdelivr.net/npm/@ccrpc/tip@0.4.9/dist/tip/tip.css' rel='stylesheet' />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ccrpc/tip@0.4.9/dist/tip/tip.esm.js"></script>
  <script nomodule="" src="https://cdn.jsdelivr.net/npm/@ccrpc/tip@0.4.9/dist/tip/tip.js"></script>

  <link rel="apple-touch-icon" href="{{ options.base_url }}/assets/icon/icon.png">
  <link rel="icon" type="image/x-icon" href="{{ options.base_url }}/assets/icon/favicon.ico">
  <link rel="manifest" href="{{ options.base_url }}/manifest.json">
</head>
<body>
  <tip-root
    site-title="{{ options.title }}"
    base-url="{{ options.base_url }}"
    layers="{{ layers|selectattr('download')|map(attribute='id')|join(',') }}"
    revision="{{ options.revision }}"
    icon-url="assets/img/rpc-simple.png">
    <gl-table-column slot="table-columns"
      sortable="false"
      attribute="rowClassAttribute"
      label="Options"
      visible="true"
      component='tip-options'
      componentProps='value'
      pdf='false'
      csv='false'></gl-table-column>
    <gl-table-column
      slot="table-columns"
      attribute="project_id"
      label="Project ID"
      component="tip-focus"
      componentProps="value"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='fiscalYearClass'
      attribute="fiscal_year"
      label="Fiscal Year"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='projectTitleClass'
      attribute="project_title"
      label="Project Title"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='startTerminusClass'
      attribute="start_terminus"
      label="Start Terminus"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='endTerminusClass'
      attribute="end_terminus"
      label="End Terminus"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='leadAgencyClass'
      attribute="lead_agency"
      label="Lead Agency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='allAgenciesClass'
      attribute="all_agencies"
      label="All Agencies"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='fundTypeClass'
      attribute="fund_type"
      label="Fund Type"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='federalFundingClass'
      attribute="federal_funding"
      label="Federal Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='stateFundingClass'
      attribute="state_funding"
      label="State Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='leadAgencyFundingClass'
      attribute="lead_agency_funding"
      label="Lead Agency Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='otherAgencyFundingClass'
      attribute="other_agency_funding"
      label="Other Agency Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='totalCostClass'
      attribute="total_cost"
      label="Total Cost"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='descriptionClass'
      attribute="description"
      label="Description"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='projectCategoryClass'
      attribute="project_category"
      label="Project Category"
      visible="false"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='nonInfrastructureClass'
      attribute="non_infrastructure"
      label="Non Infrastructure"
      visible="false"
      format="boolean"
      component='tip-yes-no'
      componentProps='value'></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='multiAgencyClass'
      attribute="multi_agency"
      label="Multi-Agency"
      visible="false"
      format="boolean"
      component='tip-yes-no'
      componentProps='value'></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='advancedConstructionClass'
      attribute="advanced_construction"
      label="Advanced Construction"
      visible="false"
      format="boolean"
      component='tip-yes-no'
      componentProps='value'></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='federalPerformanceMeasureClass'
      attribute="federal_performance_measure"
      label="Federal Performance Measure"
      visible="false"></gl-table-column>
    <tip-table-filters name="Project Filter" slot="tip-filters">
      <tip-table-filter label="Fiscal Year" attribute="fiscal_year">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
        <ion-select-option value="2022">2022</ion-select-option>
        <ion-select-option value="2023">2023</ion-select-option>
        <ion-select-option value="2024">2024</ion-select-option>
        <ion-select-option value="2025">2025</ion-select-option>
      </tip-table-filter>
      <tip-table-filter label="Agency" attribute="agency">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="CC">CC</ion-select-option>
        <ion-select-option value="CH">CH</ion-select-option>
        <ion-select-option value="Federal">Federal</ion-select-option>
        <ion-select-option value="MA">MA</ion-select-option>
        <ion-select-option value="MTD">MTD</ion-select-option>
        <ion-select-option value="RPC">RPC</ion-select-option>
        <ion-select-option value="SA">SA</ion-select-option>
        <ion-select-option value="State">State</ion-select-option>
        <ion-select-option value="TO">TO</ion-select-option>
        <ion-select-option value="UI">UI</ion-select-option>
        <ion-select-option value="UPD">UPD</ion-select-option>
        <ion-select-option value="UR">UR</ion-select-option>
      </tip-table-filter>
      <tip-table-filter label="Project Category" attribute="project_category">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="Bridge">Bridge</ion-select-option>
        <ion-select-option value="Engineering">Engineering</ion-select-option>
        <ion-select-option value="Interchange">Interchange</ion-select-option>
        <ion-select-option value="Intersection">Intersection</ion-select-option>
        <ion-select-option value="MCORE">MCORE</ion-select-option>
        <ion-select-option value="MTD-Equipment">MTD-Equipment</ion-select-option>
        <ion-select-option value="MTD">MTD</ion-select-option>
        <ion-select-option value="Misc">Misc</ion-select-option>
        <ion-select-option value="Multi-Use">Multi-Use</ion-select-option>
        <ion-select-option value="Pedestrian">Pedestrian</ion-select-option>
        <ion-select-option value="Pedestrian-Crossing">Pedestrian-Crossing</ion-select-option>
        <ion-select-option value="RR-Crossing">RR-Crossing</ion-select-option>
      </tip-table-filter>
      <tip-table-filter label="Non Infrastructure" attribute="non_infrastructure">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="true">Yes</ion-select-option>
        <ion-select-option value="false">No</ion-select-option>
      </tip-table-filter>
      <tip-table-filter label="Multi-Agency" attribute="multi_agency">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="true">Yes</ion-select-option>
        <ion-select-option value="false">No</ion-select-option>
      </tip-table-filter>
      <tip-table-filter label="Advanced Construction" attribute="advanced_construction">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="true">Yes</ion-select-option>
        <ion-select-option value="false">No</ion-select-option>
      </tip-table-filter>
      <tip-table-filter label="Federal Performance Measure" attribute="federal_performance_measure">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="PM1">PM1</ion-select-option>
        <ion-select-option value="PM2">PM2</ion-select-option>
        <ion-select-option value="PM3">PM3</ion-select-option>
        <ion-select-option value="TAM">TAM</ion-select-option>
      </tip-table-filter>
      <tip-search-box></tip-search-box>
    </tip-table-filters>
    {% for basemap in basemaps %}
    <gl-style slot="basemaps"
      url="{{ basemap.url }}"
      basemap="true"
      name="{{ basemap.name }}"
      enabled="{{ basemap.enabled|string|lower }}"></gl-style>
    {% endfor %}
  </tip-root>
  {% if legend %}
  <script type="text/javascript">
    document.querySelector('tip-root').legendOptions = {{ legend|tojson }};
  </script>
  {% endif %}
  {% include 'preview_support.html' %}
</body>
</html>
