<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ options.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <meta name="theme-color" content="#16161d">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.js"></script>

  <link href='https://cdn.jsdelivr.net/npm/@ccrpc/tip@0.4.4/dist/tip/tip.css' rel='stylesheet' />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ccrpc/tip@0.4.4/dist/tip/tip.esm.js"></script>
  <script nomodule="" src="https://cdn.jsdelivr.net/npm/@ccrpc/tip@0.4.4/dist/tip/tip.js"></script>

  <link rel="apple-touch-icon" href="{{ options.base_url }}/assets/icon/icon.png">
  <link rel="icon" type="image/x-icon" href="{{ options.base_url }}/assets/icon/favicon.ico">
  <link rel="manifest" href="{{ options.base_url }}/manifest.json">
</head>
<body>
  <tip-presentation-root logo-url="assets/img/rpc-logo.png">
    <gl-table-column
      slot="table-columns"
      attribute="project_id"
      label="Project ID"
      component="tip-focus"
      componentProps="value"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='fiscalYearClass'
      attribute="fiscal_year"
      label="Fiscal Year"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='projectTitleClass'
      attribute="project_title"
      label="Project Title"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='startTerminusClass'
      attribute="start_terminus"
      label="Start Terminus"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='endTerminusClass'
      attribute="end_terminus"
      label="End Terminus"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='leadAgencyClass'
      attribute="lead_agency"
      label="Lead Agency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='allAgenciesClass'
      attribute="all_agencies"
      label="All Agencies"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='fundTypeClass'
      attribute="fund_type"
      label="Fund Type"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='federalFundingClass'
      attribute="federal_funding"
      label="Federal Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='stateFundingClass'
      attribute="state_funding"
      label="State Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='leadAgencyFundingClass'
      attribute="lead_agency_funding"
      label="Lead Agency Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='otherAgencyFundingClass'
      attribute="other_agency_funding"
      label="Other Agency Funding"
      visible="false"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='totalCostClass'
      attribute="total_cost"
      label="Total Cost"
      format="currency"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='descriptionClass'
      attribute="description"
      label="Description"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='projectCategoryClass'
      attribute="project_category"
      label="Project Category"
      visible="false"></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='nonInfrastructureClass'
      attribute="non_infrastructure"
      label="Non Infrastructure"
      visible="false"
      format="boolean"
      component='tip-yes-no'
      componentProps='value'></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='multiAgencyClass'
      attribute="multi_agency"
      label="Multi-Agency"
      visible="false"
      format="boolean"
      component='tip-yes-no'
      componentProps='value'></gl-table-column>
    <gl-table-column slot="table-columns"
      cell-class-attribute='advancedConstructionClass'
      attribute="advanced_construction"
      label="Advanced Construction"
      visible="false"
      format="boolean"
      component='tip-yes-no'
      componentProps='value'></gl-table-column>
    <gl-table-column slot="table-columns"
      attribute="date_policy_meeting"
      label="Policy Meeting Date"
      component='tip-date'
      componentProps='date_policy_meeting'></gl-table-column>
    <gl-table-column slot="table-columns"
      attribute="date_technical_meeting"
      component='tip-date'
      componentProps='date_technical_meeting'
      label="Policy Technical Date"></gl-table-column>
    <gl-table-column
      cell-class-attribute='changeAngecyClass'
      attribute="change_agency"
      label="Change Agency"
      visible="false"></gl-table-column>
  </tip-presentation-root>
</body>
</html>
