.boxdraw {
    background: rgba(56, 135, 190, 0.1);
    border: 2px solid #ffaf33;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

button.mapboxgl-ctrl-compass {
    width: 5em;
    height: 5em;
}

div.mapboxgl-ctrl-scale {
    height: 3em;
    font-size: 10pt;
}

#searchBar {
    display: none;
    max-width: 85%;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    height: 100%;
    width: 100%;
}

table tr.header-row, table tr.header-row th {
    white-space: normal;
    max-width: 100%;
    text-align: center;
}

table tr.new-section th, table tr.new-section td {
    border-top: 2px solid black;
    max-width: 100%;
    text-align: center;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
    height: 1.0em;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table tr:hover {
    background-color: #b4cccb;
}

table th {
    max-width: 80%;
    text-align: left;
}

table td {
    white-space: nowrap;
    text-align: left;
    padding-right: 10px;
}

table tr {
    overflow-x: scroll;
}