<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ options.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <meta name="theme-color" content="#16161d">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>

  <link href="https://cdn.jsdelivr.net/npm/@ccrpc/webmapgl@0.18.2/dist/webmapgl/webmapgl.css" rel="stylesheet">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ccrpc/webmapgl@0.18.2/dist/webmapgl/webmapgl.esm.js"></script>
  <script nomodule="" src="https://cdn.jsdelivr.net/npm/@ccrpc/webmapgl@0.18.2/dist/webmapgl/webmapgl.js"></script>

  <link rel="apple-touch-icon" href="{{ options.base_url }}/assets/icon/icon.png">
  <link rel="icon" type="image/x-icon" href="{{ options.base_url }}/assets/icon/favicon.ico">
  <link rel="manifest" href="{{ options.base_url }}/manifest.json">

  <!-- Injecting custom script via this file -->
  <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/pdfmake.min.js" integrity="sha512-/POIba1QMKIR+IWgQ3m3XU3zD9HXz0b5cc1Wmg8zfijO+Db+LZH0NXrUZqKJ/HLtODY3mziQF6Ppc8lcBOySLA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/vfs_fonts.js" integrity="sha512-cktKDgjEiIkPVHYbn8bh/FEyYxmt4JDJJjOCu5/FQAkW4bc911XtKYValiyzBiJigjVEvrIAyQFEbRJZyDA1wQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="{{ options.base_url }}/pdfmake.js"></script> -->
  <script src="{{ options.base_url }}/vfs_fonts.js"></script>
  <script type="module" src="{{ options.base_url }}/custom-scripts.js"></script>
  <link href="{{ options.base_url }}/custom-styles.css" rel='stylesheet' />

  <style media="screen">
    gl-attribute-values {
      display: block;
      max-height: 400px;
      overflow-y: scroll;
    }
    gl-attribute-values ion-note {
      text-align: right;
    }
  </style>
</head>
<body>
  <gl-app label="{{ options.title }}" {% if not legend %}menu="false"{% endif %}>
    {% set download_layers = layers|selectattr('download')|list %}
    {% if download_layers|length > 0 %}
    <gl-download-button slot="end-buttons">
      {% for layer in download_layers %}
      <gl-download-file
        label="{{ layer.name }}"
        url="{{ options.base_url }}/data/{{ layer.id }}.geojson"
        format="GeoJSON"></gl-download-file>
      {% endfor %}
    </gl-download-button>
    {% endif %}
    <ion-button slot="end-buttons" id="searchToggle">
      <ion-icon slot="icon-only" name="search" aria-label="search"></ion-icon>
    </ion-button>
    <gl-basemaps slot="end-buttons"></gl-basemaps>
    <gl-fullscreen slot="end-buttons"></gl-fullscreen>
    <gl-map longitude="{{ options.longitude }}"
    latitude="{{ options.latitude }}"
    zoom="{{ options.zoom }}"
    hash="map"
    id="spatialMap">
    <gl-style
          url="{{ options.style_url }}?rev={{ options.revision }}"
          id="map"
          clickable-layers="{{ layers|selectattr('popup')|map(attribute='layers')|map('join', ',')|join(',') }}">
        {% for layer in layers|selectattr('popup') %}
        <gl-popup id="popup-{{ layer.id }}"
          layers="{{ layer.layers|join(',') }}"
          component="gl-attribute-values">
        </gl-popup>
        {% endfor %}
      </gl-style>
      {% for basemap in basemaps %}
      <gl-style url="{{ basemap.url }}"
        basemap="true"
        name="{{ basemap.name }}"
        enabled="{{ basemap.enabled|string|lower }}"></gl-style>
      {% endfor %}
      <gl-address-search
        id="searchBar"
        bbox="-88.462126,39.879098,-87.931727,40.399428"
        url="https://geocode.ccrpc.org/search.php">
      </gl-address-search>
    </gl-map>
    {% if legend %}
    <gl-legend slot="menu">
      {% for item in legend %}
      <gl-legend-item
        style-id="map"
        {% if item.layers %}layers="{{ item.layers|join(',') }}" toggle="true"{% endif %}
        {% if item.image %}image="{{ item.image }}?rev={{ options.revision }}"{% else %}widget="divider"{% endif %}>
        {{ item.label }}
      </gl-legend-item>
      {% endfor %}
    </gl-legend>
    {% endif %}
    <gl-drawer
      id="resultDrawer"
      slot="after-content"
      drawerTitle="Spatial Query Results"
      open=false
      mapId="spatialMap">
      <ion-button title="Export" slot="toolbar-end-buttons">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
      <table id="resultTable">
        <tr>
          <th>Query Data is Loading</th>
        </tr>
      </table>
    </gl-drawer>
  </gl-app>
  <script type="text/javascript">
  {% for layer in layers|selectattr('popup') %}
    document.querySelector('#popup-{{ layer.id }}').componentOptions = {
      attributeOptions: {{ layer.attributes|tojson }},
      header: {{ layer.name|tojson }}
    };
  {% endfor %}
  </script>
  {% include 'preview_support.html' %}
</body>
</html>
